div form fieldset{
	
	border: 1px solid #619dd6;
	padding:60px;
}
h3#titFaleConosco{
	text-align: center;
}

p#mensagem{
	font-size:12px;
	color:#000;
	text-align: center;
}
.fundo li{
	background-color: #55ddff;
	
}

.fundo li a:hover{
	background-color:orange; 
}
